@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: #FFF;
  font-family: "Roboto Flex";
  font-variation-settings: "GRAD" 67, "slnt" 0, "XTRA" 511, "XOPQ" 113, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  font-weight: 685;
  font-size: 48px;
}

h2 {
  color: #FFF;
  font-family: "Roboto Flex";
  font-variation-settings: "GRAD" 67, "slnt" 0, "XTRA" 592, "XOPQ" 113, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  font-weight: 545;
  font-size: 24px;
}

p {
  color: #FFF;
  font-family: "Roboto Flex";
  font-variation-settings: "GRAD" 22, "slnt" 0, "XTRA" 502, "XOPQ" 121, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  font-weight: 300;
  font-size: 16px;
}

.button {
  color: #FFF;
  font-family: "Roboto Flex";
  font-variation-settings: "GRAD" 67, "slnt" 0, "XTRA" 592, "XOPQ" 113, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  font-size: 24px;
  padding: 11px 36px 11px 7px;
  border-radius: 20px;
  box-shadow: -5px -5px #fff;
  transition: 0.2s;
  margin-right: 25px;
  border: 0px;
  cursor: pointer;
}
.button.primary {
  background: #ED8423;
}
.button.secondary {
  background: #151414;
}
.button:hover {
  padding: 11px 60px 11px 7px;
}
.button:hover::after {
  content: url(../svg/arrow.svg);
  position: relative;
  top: 1px;
  right: -45px;
}

.card {
  width: 250px;
  height: 350px;
  background: #ED8423;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.2s;
}
.card .card__img {
  background: #000;
  height: 170px;
}
.card .card__img::after {
  position: relative;
  content: url(../svg/imag.svg);
  top: 69px;
  left: 43.6%;
}
.card .card__infos h2 {
  padding: 5px 0 0 15px;
}
.card .card__infos .card__tags {
  display: flex;
  gap: 10px;
  padding: 10px 0 0 15px;
}
.card .card__infos .card__tags .card__tag {
  background-color: #000;
  padding: 2px 10px;
}
.card:hover {
  transform: scale(1.1);
}

.search__bar {
  width: 400px;
  height: 50px;
  margin-right: 0px;
  background: #FFF;
  border-radius: 50px;
}
.search__bar.tiny {
  width: 200px;
}
.search__bar.tiny .search_input {
  width: 150px;
}
.search__bar .search_input {
  padding-left: 15px;
  height: 50px;
  width: 350px;
  border-width: 0px;
  border-radius: 50px;
  font-size: 18px;
  font-variation-settings: "GRAD" 67, "slnt" 0, "XTRA" 592, "XOPQ" 113, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.search__bar .search_input::placeholder {
  color: #000;
  font-size: 3rem;
  font-feature-settings: inherit;
}
.search__bar .search_input:focus-visible {
  outline: 0px;
}
.search__bar .search__button {
  background: #FFF;
  border-width: 0px;
  position: relative;
  top: 8px;
  left: -4px;
}
.search__bar .search__button::after {
  content: url(../svg/glass.svg);
  cursor: pointer;
}

.header__home {
  background-color: #000;
  height: 500px;
}
.header__home .topics {
  padding-top: 5%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header__home .topics h2 {
  color: #ED8423;
}
.header__home .double__button {
  padding-top: 75px;
}
.header__home .marth {
  display: none;
}
.header__home .stars {
  display: none;
}

.part__01 {
  margin: 15px auto;
}
.part__01 .card__container {
  margin-top: 25px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .header__home {
    display: flex;
    flex-direction: row;
    height: 800px;
    gap: 100px;
  }
  .header__home .topics {
    display: flex;
    flex-shrink: 0;
    padding-top: 195px;
  }
  .header__home .marth {
    flex-shrink: 0;
    display: inline-block;
    margin-top: 150px;
    width: 500px;
    height: 500px;
    background: #ED8423;
    border-radius: 50%;
  }
  .header__home .marth .stain__container {
    margin-top: 125px;
    margin-left: 75px;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
  .header__home .marth .stain__container .stain {
    height: 35px;
    border-radius: 45px;
    background: #AF7F37;
  }
  .header__home .marth .stain__container .stain.stain__01 {
    grid-area: 1/2/2/4;
  }
  .header__home .marth .stain__container .stain.stain__02 {
    grid-area: 2/1/3/4;
    background: #825513;
  }
  .header__home .marth .stain__container .stain.stain__03 {
    grid-area: 2/4/3/7;
    background: #D49E4B;
  }
  .header__home .marth .stain__container .stain.stain__04 {
    grid-area: 3/2/4/5;
    background: #E7AF5C;
  }
  .header__home .marth .stain__container .stain.stain__05 {
    grid-area: 3/5/4/6;
    background: #8D6323;
  }
  .header__home .marth .stain__container .stain.stain__06 {
    grid-area: 4/3/5/5;
  }
  .header__home .stars {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 250px;
    height: 500px;
    margin-top: 125px;
  }
  .header__home .stars .star.star__01 {
    grid-area: 1/7;
  }
  .header__home .stars .star.star__02 {
    grid-area: 2/2;
    transform: scale(1.5) rotate(120deg);
  }
  .header__home .stars .star.star__03 {
    grid-area: 3/5;
    transform: scale(1.2);
  }
  .header__home .stars .star.star__04 {
    grid-area: 3/1;
    transform: scale(0.8) rotate(12deg);
  }
  .header__home .stars .star.star__05 {
    grid-area: 5/2;
    transform: scale(1.4);
  }
  .header__home .stars .star.star__06 {
    grid-area: 4/8;
    transform: rotate(75deg);
  }
  .header__home .stars .star.star__07 {
    grid-area: 7/4;
    transform: scale(2) rotate(15deg);
  }
  .header__home .stars .star.star__08 {
    grid-area: 8/8;
    transform: rotate(60deg);
  }

  .part__01 {
    margin-top: 50px;
    margin-left: 45px;
  }
  .part__01 .card__container {
    flex-direction: row;
  }
}
.sign {
  background: #FFF;
  height: 100%;
  text-align: center;
  height: 100vh;
}
.sign h1 {
  color: #000;
}
.sign .sign__form {
  margin-top: 25px;
}
.sign .sign__form .sign__element label {
  text-align: left;
  margin-left: 50px;
  display: block;
  font-family: "Roboto Flex";
  font-variation-settings: "GRAD" 22, "slnt" 0, "XTRA" 502, "XOPQ" 121, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  font-size: 20px;
}
.sign .sign__form .sign__element input {
  border: 1px solid #000;
  width: 170px;
  height: 25px;
  border-radius: 25px;
  margin: 25px;
}
.sign .sign__form .sign__element .F {
  margin: 0;
  width: 55px;
}
.sign .sign__form .sign__element .F::before {
  content: "F";
  font-variation-settings: "GRAD" 22, "slnt" 0, "XTRA" 502, "XOPQ" 121, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  font-size: 20px;
}
.sign .sign__form .sign__element .M {
  margin: 0;
  width: 55px;
}
.sign .sign__form .sign__element .M::before {
  content: "M";
  font-variation-settings: "GRAD" 22, "slnt" 0, "XTRA" 502, "XOPQ" 121, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  font-size: 20px;
}
.sign .sign__form .button {
  margin-top: 25px;
}

.tips {
  display: none;
}

@media screen and (min-width: 1200px) {
  .sign {
    width: 450px;
    float: left;
  }
  .sign h1 {
    padding-top: 50px;
  }
  .sign .sign__form .button {
    margin-bottom: 0;
  }

  .tips {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #393636;
  }
  .tips .tips__carousel {
    display: inline-block;
    margin-top: 260px;
    margin-left: 320px;
  }
  .tips .tips__carousel h1 {
    margin-bottom: 50px;
  }
  .tips .tips__carousel .tip {
    display: inline-block;
    height: 300px;
    width: 500px;
    background-color: #FFF;
  }
  .tips .tips__carousel .tip h2, .tips .tips__carousel .tip p {
    color: #000;
    width: 50%;
    margin-left: 35px;
  }
  .tips .tips__carousel .tip h2 {
    margin-top: 35px;
  }
  .tips .tips__carousel .tip__img {
    width: 400px;
    height: 200px;
    margin-left: 160px;
  }
  .tips .tips__carousel .tip__img img {
    border-radius: 25px;
  }
}
body {
  background-color: #393636;
}

.container__element {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 10% 0 10%;
  gap: 50px;
}

.button__container {
  display: flex;
  gap: 0 30px;
}

/*# sourceMappingURL=style.css.map */
