@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@import 'libs/variable.scss';
@import 'libs/reste.scss';
@import 'libs/element.scss';
@import 'libs/home.scss';
@import 'libs/sign.scss';

body{
    background-color: $background;
}

.container__element{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 10% 0 10%;
    gap: 50px;
}

.button__container{
    display: flex;
    gap: 0 30px;
}

.account{
    position: fixed;
    z-index: 9999;
    float: right;
    right: 15px;
    top: 15px;
    background: #FFF;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid grey;

    .pseudo{
        border-bottom: 2px solid grey;
        cursor: pointer;
    }

    

    & .infos {
        display: none;

        &.deployed{
            display: block;
            margin-top: 10px;
            padding-bottom: 10px;
        }
        

        p {
            padding-bottom: 25px;
        }
    }

    p{
        color: #000;
    }
}
